<section class="summary-card">

  <!-- TÍTULO -->
  <div class="card-title">

    RESUMO DA GRADE

  </div>


  <!-- CONTEÚDO -->
  <div class="summary-content">


    <!-- TOTAL -->
    <span class="label">
      Total selecionado
    </span>

    <strong class="main-value">
      7.5<small>h</small>
    </strong>


    <!-- MÍNIMO SEMANAL -->
    <div class="weekly">

      <span>
        Mínimo semanal
      </span>

      <strong>
        6.25<small>h</small>
      </strong>

    </div>


    <!-- LIMITE MENSAL -->
    <div class="monthly">

      <span>
        Limite mensal
      </span>


      <div class="progress">

        <div class="progress-value"></div>

      </div>

    </div>

  </div>

</section>