<aside class="sidebar">

  <!-- LOGO -->
  <div class="logo-area">

    <img
      src="imagens/LogoProject.svg"
      alt="Logo do projeto"
      class="logo"
    >

  </div>


  <!-- MENU -->
  <nav class="menu">

    <!-- PERFIL -->
    <div class="menu-item">

      <span>Perfil</span>

      <img
        src="imagens/Perfil.svg"
        alt="Perfil"
        class="menu-icon"
      >

    </div>


    <!-- DISPONIBILIDADE -->
    <div class="menu-item active">

      <span>Disponibilidade</span>

      <span class="calendar-menu-icon">
        ▦
      </span>

    </div>

  </nav>


  <!-- SAIR -->
  <div class="sidebar-footer">

    <span>Sair</span>

    <img
      src="imagens/Sair.svg"
      alt="Sair"
      class="exit-icon"
    >

  </div>

</aside>