@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: #005c6d;
  --color-secondary: #b20000;

  --color-text: #666666;
  --color-background: #e6e6e6;
  --color-surface: #ffffff;
  --color-white: #ffffff;
  --color-table: #dadada;

  --color-warning: #b78718;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
}
